.layer {
    height: 76px;
    width: 100%;

    display: grid;

    grid-template-areas: "thumbnail name buttons";
    grid-template-columns: 100px auto 40px;

    &.active {
        background: rgba(0, 0, 0, .1);
    }

    &:not(:last-child) {
        border-bottom: 1px dotted rgba(0, 0, 0, .5);
    }

    .layer-thumbnail {
        grid-area: thumbnail;

        margin: auto;

        border: $border-content;

        width: calc(var(--width) / 10);
        height: calc(var(--height) / 10);

        @include transparent(10px);

        pointer-events: none;
    }

    .layer-name {
        margin: auto;

        pointer-events: none;
    }

    .layer-buttons {
        display: none;

        margin: auto;

        button {
            width: 20px;
            height: 20px;
        }
    }

    &:hover {
        .layer-buttons {
            display: block;
        }
    }
}
