.dialog {
    display: grid;

    height: 100%;
    width: 100%;

    grid-template-areas:
        "header"
        "container";

    grid-template-rows: 48px auto;

    overflow: hidden;

    position: relative;

    .dialog-header {
        grid-area: header;

        background: rgba(0, 0, 0, .15);

        display: grid;

        font-size: 13pt;

        grid-template-areas: "title buttons";
        grid-template-columns: auto auto;

        line-height: 48px;

        padding: 0 12px;

        border-bottom: 1px solid rgba(0, 0, 0, .25);

        .dialog-header-title {
            grid-area: title;
        }

        .dialog-header-buttons {
            grid-area: buttons;

            text-align: right;

            button {
                width: 30px;
                height: 30px;
            }
        }
    }

    .dialog-container {
        grid-area: container;

        overflow: overlay;

        padding: 3px;
    }

    .dialog-overlay {
        position: absolute;

        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .25));

        display: flex;

        .dialog-overlay-content {
            margin: auto 12px 12px;

            .dialog-overlay-buttons {
                display: grid;

                margin-top: 6px;

                grid-template-columns: auto auto;

                grid-gap: 6px;
            }
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, .5);
    }
}
