#workspaces {
    height: 100%;
    width: 100%;

    .workspace {
        display: none;

        height: 100%;
        width: 100%;

        --width: 640px;
        --height: 480px;

        &.active {
            display: grid;
        }

        grid-template-areas:
            "left main      right"
            "left footer    right";

        grid-template-columns: 60px auto 300px;
        grid-template-rows: auto 25px;

        .left {
            grid-area: left;

            .tools {
                width: 100%;
                height: 100%;

                font-size: 20pt;

                padding: 6px;

                li {
                    display: flex;
                    
                    height: 46px;
                    width: 46px;

                    margin-bottom: 6px;

                    &.active {
                        button {
                            @extend .active;
                        }
                    }

                    button {
                        display: flex;
                        
                        margin: auto;
                        
                        position: relative;

                        width: 46px;
                        height: 46px;
                        
                        i {
                            margin: auto;
                        }

                        .tools-colors {
                            position: relative;

                            width: 38px;
                            height: 38px;

                            margin: auto;

                            .tools-colors-primary,
                            .tools-colors-secondary {
                                border-radius: 50%;

                                position: absolute;

                                border: 2px solid lighten($background, 5%);
                            }

                            .tools-colors-primary {
                                width: 28px;
                                height: 28px;

                                background: black;

                                left: 0;
                                top: 0;
                            }

                            .tools-colors-secondary {
                                width: 22px;
                                height: 22px;

                                right: 0;
                                bottom: 0;

                                background: white;
                            }
                        }
                    }
                }
            }
        }

        .main {
            grid-area: main;

            background: rgba(0, 0, 0, .25);

            border-left: $border-content;
            border-right: $border-content;

            position: relative;

            overflow: hidden;

            .dialog {
                position: absolute;

                background: $background;

                left: 0;
                top: 0;

                width: 240px;
                height: 100%;

                border-radius: 2px;

                border-right: $border-content;
                box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            }

            .dialogs {
                position: absolute;

                left: 0;
                top: 0;

                width: 100%;
                height: 100%;

                pointer-events: none;

                .dialog {
                    pointer-events: all;
                }
            }

            &.tools-active {
                .canvas {
                    margin-left: 120px;
                }

                .dialogs {
                    margin-left: 240px;
                }
            }

            @import "Colors/Colors";
        }

        .right {
            display: grid;
            grid-area: right;
            grid-auto-rows: 1fr;
        
            overflow: hidden
        }

        @import "Dialogs/Dialogs";
        @import "Layers/Layers";
        @import "History/History";
        @import "Canvas/Canvas";
        @import "Footer/Footer";
        @import "Tool/Tool";
    }
}
